<div class="container text-center">
   <div class="card-group">
      <div class="row">
         {{#each hasbro}}
         <div class="card col-md-2 m-3">
            <a href="/hasbro/detail/{{_id}}">
               <img class="card-img-top mt-4" src="{{image}}" width="200" height="200">
            </a>
            <div class="card-body">
               <h4 class="card-title text-success">{{name}}</h4>
               <p class="card-text text-danger">${{price}}</p>
               {{!-- <p class="card-text text-danger">{{sku}}</p> --}}
                        
            </div>
            <a href="#"><button class="button"><span>Add to cart </span></button></a>
         </div>
         {{/each}}
      </div>
   </div>
</div>